* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

#button-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
    display: flex;
}

#full-image {
    width: auto;
    position: absolute;
}

button {
    flex: 1 0 auto;
    margin: 5px;
    height: 24px;
    width: 100px;
}

#error-container {
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
    background: red;
    user-select: none;
    padding: 12px 18px;
    top: 18px;
    left: 12px;
}
